body {
    background-color: rgb(235, 236, 240);
    height: 100%;
    font-family: "Myriad Pro";
}

img {
    position: absolute;
    top: 3%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.a {
    border: 0.792px solid rgb(201, 35, 35);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 19%;
    top: 4.5%;
    font-family: "Myriad Pro";
    color: rgb(201, 35, 35);
    padding: .2em 2em;
    display: inline-block;
    text-decoration: none;
}

.a:hover {
    background-color: rgb(235, 236, 240);
}

.a:active {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
}

.block {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 11.31px 1.69px rgba(0, 0, 0, 0.22);
    border: 2px solid rgb(201, 35, 35);
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    width: 900px;
    height: 70%;
    overflow: hidden;
}

.ac {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    margin-top: 10px;
    font-size: 35px;
    color: rgb(98, 93, 93);
}

.inf {
    position: absolute;
    margin-top: 75px;
    margin-left: 45px;
    font-size: 25px;
    color: rgb(98, 93, 93);
}

.inff {
    position: absolute;
    margin-top: 125px;
    margin-left: 45px;
    font-size: 25px;
    color: rgb(98, 93, 93);
}

.hist {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    margin-top: 170px;
    font-size: 35px;
    color: rgb(98, 93, 93);
}

.hist_block {
    background-color: rgb(235, 236, 240);
    border: 2px solid rgb(201, 35, 35);
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    width: 800px;
    height: 60%;
    overflow: hidden;
    text-align: center;
}

table{
    border-spacing: 0;
}

th {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
}

td:first-child {
    color: rgb(201, 35, 35);
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
}


footer {
    position: absolute;
    top: 92%;
    left: 0;
    width: 100%;
    height: 8%;
    color: rgb(137, 133, 133);
    font-size: 20px;
}

footer span3 {
    position: absolute;
    top: 15%;
    left: 22%;
    font-size: 22px;
    color: black;
}

footer span4 {
    position: absolute;
    top: 45%;
    left: 22%;
    font-size: 20px;
}

footer span5 {
    position: absolute;
    top: 15%;
    left: 66%;
    font-size: 20px;
}
