header {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px;
    background-color: rgb(255, 255, 255);
}

.logo {
    position: absolute;
    left: 19%;
    top: 2%;
}

header a {
    border: 0.792px solid rgb(201, 35, 35);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 19%;
    top: 4.5%;
    font-family: "Myriad Pro";
    color: rgb(201, 35, 35);
    padding: .2em 2em;
    display: inline-block;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(235, 236, 240);
}

header a:active {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
}

.img_h {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 17%;
    width: 54%;
    height: 83%;
}

body {
    background-color: rgb(235, 236, 240);
    height: 400%;
    font-family: "Myriad Pro";
}

.create {
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(201, 35, 35);
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    font-size: 25px;
    color: rgb(255, 255, 255);
    top: 55%;
    padding: 1em 2em;
}

.create:hover {
    box-shadow: 2px 2px 5px rgb(68, 68, 68);
}

.create:active {
    background-color: rgb(155, 7, 7);
}

.point_map {
    position: absolute;
    left: 25%;
    top: 68%;
    height: 25%;
}

.pm {
    border: 1.958px solid rgb(201, 35, 35);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 23%;
    top: 93%;
    padding: .2em 2em;
    font-size: 25px;
    color: rgb(37, 34, 34);
    text-decoration: none;
}

.pm:hover {
    box-shadow: 1px 1px 2px rgb(68, 68, 68);
}

.pm:active {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
}

.tarif {
    position: absolute;
    left: 64.5%;
    top: 68%;
    height: 24.5%;
}

.tr {
    border: 1.958px solid rgb(201, 35, 35);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 23%;
    top: 93%;
    padding: .2em 3em;
    font-size: 25px;
    color: rgb(37, 34, 34);
    text-decoration: none;
}

.tr:hover {
    box-shadow: 1px 1px 2px rgb(68, 68, 68);
}

.tr:active {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
}

#sklad {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 100%;
    left: 0;
    box-shadow: 0 0 5px;
    background-color: rgb(255, 255, 255);
}

.spisok {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 5%;
    width: 50%;
    height: 90%;
    background-color: rgb(235, 236, 240);
    box-shadow: 0 0 5px rgb(68, 68, 68) inset;
    border: 2px solid rgb(201, 35, 35);
}

.sp {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 10%;
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 35, 35);
    font-size: 25px;
    padding: .7em 9.66em;
}

span1 {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 173%;
    font-size: 55px;
    color: rgb(98, 93, 93);
}

.tip {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 183%;
    height: 33%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tipp {
    float: left;
    line-height: 65px;
    font-size: 30px;
    background: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
    height: 70px;
    width: 224px;
    margin-right: 5px;
    text-align: center;
    border-radius: 15px;
}

.tip div {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 11.31px 1.69px rgba(0, 0, 0, 0.22);
    height: 300px;
    width: 224px;
    margin: 5px;
    text-align: center;
    font-size: 140px;
    color: rgb(98, 93, 93);
    line-height: 200px;
}

span2 {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 218%;
    font-size: 55px;
    color: rgb(98, 93, 93);
}

table {
    background-color: white;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 228%;
    height: 45%;
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 11.31px 1.69px rgba(0, 0, 0, 0.22);
    border-spacing: 0;
    text-align: center;
    font-size: 20px;
    color: rgb(98, 93, 93);
}

th {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

td:first-child {
    color: rgb(201, 35, 35);
    font-size: 30px;
    text-align: center;
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 0 1em;
}

th:first-child,
td:first-child {
    text-align: left;
}

footer {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 290%;
    left: 0;
    width: 100%;
    height: 8%;
    box-shadow: 0 0 5px;
    color: rgb(137, 133, 133);
    font-size: 20px;
}

footer span3 {
    position: absolute;
    top: 15%;
    left: 22%;
    font-size: 22px;
    color: black;
}

footer span4 {
    position: absolute;
    top: 45%;
    left: 22%;
    font-size: 20px;
}

footer span5 {
    position: absolute;
    top: 15%;
    left: 66%;
    font-size: 20px;
}
