table{
    border-spacing: 0;
}

th {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
}

td:first-child {
    color: rgb(201, 35, 35);
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
}

.exit {
    border: 0.792px solid rgb(201, 35, 35);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: "Myriad Pro";
    color: rgb(201, 35, 35);
    padding: .2em 2em;
    display: inline-block;
    text-decoration: none;
}

.exit:hover {
    background-color: rgb(235, 236, 240);
}

.exit:active {
    background-color: rgb(201, 35, 35);
    color: rgb(255, 255, 255);
}